bookstore-server/src/main/webapp/WEB-INF/wsdl/RPCServiceImplementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. -->
<definitions targetNamespace="http://rpc/" name="RPCServiceImplementService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://rpc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://rpc/" schemaLocation="RPCServiceImplementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createBook">
    <part name="parameters" element="tns:createBook"/>
  </message>
  <message name="createBookResponse">
    <part name="parameters" element="tns:createBookResponse"/>
  </message>
  <message name="readBook">
    <part name="parameters" element="tns:readBook"/>
  </message>
  <message name="readBookResponse">
    <part name="parameters" element="tns:readBookResponse"/>
  </message>
  <message name="updateBook">
    <part name="parameters" element="tns:updateBook"/>
  </message>
  <message name="updateBookResponse">
    <part name="parameters" element="tns:updateBookResponse"/>
  </message>
  <message name="deleteBook">
    <part name="parameters" element="tns:deleteBook"/>
  </message>
  <message name="deleteBookResponse">
    <part name="parameters" element="tns:deleteBookResponse"/>
  </message>
  <message name="searchBooks">
    <part name="parameters" element="tns:searchBooks"/>
  </message>
  <message name="searchBooksResponse">
    <part name="parameters" element="tns:searchBooksResponse"/>
  </message>
  <message name="bulkUploadBooks">
    <part name="parameters" element="tns:bulkUploadBooks"/>
  </message>
  <message name="bulkUploadBooksResponse">
    <part name="parameters" element="tns:bulkUploadBooksResponse"/>
  </message>
  <portType name="RPCServiceInterface">
    <operation name="createBook">
      <input wsam:Action="http://rpc/RPCServiceInterface/createBookRequest" message="tns:createBook"/>
      <output wsam:Action="http://rpc/RPCServiceInterface/createBookResponse" message="tns:createBookResponse"/>
    </operation>
    <operation name="readBook">
      <input wsam:Action="http://rpc/RPCServiceInterface/readBookRequest" message="tns:readBook"/>
      <output wsam:Action="http://rpc/RPCServiceInterface/readBookResponse" message="tns:readBookResponse"/>
    </operation>
    <operation name="updateBook">
      <input wsam:Action="http://rpc/RPCServiceInterface/updateBookRequest" message="tns:updateBook"/>
      <output wsam:Action="http://rpc/RPCServiceInterface/updateBookResponse" message="tns:updateBookResponse"/>
    </operation>
    <operation name="deleteBook">
      <input wsam:Action="http://rpc/RPCServiceInterface/deleteBookRequest" message="tns:deleteBook"/>
      <output wsam:Action="http://rpc/RPCServiceInterface/deleteBookResponse" message="tns:deleteBookResponse"/>
    </operation>
    <operation name="searchBooks">
      <input wsam:Action="http://rpc/RPCServiceInterface/searchBooksRequest" message="tns:searchBooks"/>
      <output wsam:Action="http://rpc/RPCServiceInterface/searchBooksResponse" message="tns:searchBooksResponse"/>
    </operation>
    <operation name="bulkUploadBooks">
      <input wsam:Action="http://rpc/RPCServiceInterface/bulkUploadBooksRequest" message="tns:bulkUploadBooks"/>
      <output wsam:Action="http://rpc/RPCServiceInterface/bulkUploadBooksResponse" message="tns:bulkUploadBooksResponse"/>
    </operation>
  </portType>
  <binding name="RPCServiceImplementPortBinding" type="tns:RPCServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="readBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bulkUploadBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RPCServiceImplementService">
    <port name="RPCServiceImplementPort" binding="tns:RPCServiceImplementPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

